[submodule "dpdk"]
	path = dpdk
	url = https://github.com/DPDK/dpdk.git
[submodule "bsd/src/freebsd"]
	path = bsd/src/freebsd
	url = https://github.com/mengdemao/freebsd.git
	branch = releng/13.0
[submodule "docs"]
	path = docs
	url = git@github.com:mengdemao/lazybsd.wiki.git
